@using DentalManagement.ViewModels.Catalog.Users;
@model LoginRequest
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quản lý nha khoa</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="main-wrapper account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <div class="account-box">
                    <form class="user" asp-action="Index" asp-controller="Login" method="post">
                        <div class="account-logo">
                            <h4>NHA KHOA THUẦN VIỆT</h4>
                        </div>
                        <div class="form-group">
                            <label>Tài khoản</label>
                            <input class="form-control form-control-user" type="text" asp-for="UserName" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <input class="form-control form-control-user" type="password" asp-for="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox small">
                                <input class="custom-control-input" asp-for="RememberMe" type="checkbox" />
                                <label class="custom-control-label" asp-for="RememberMe">Ghi nhớ đăng nhập</label>
                            </div>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <button class="btn btn-primary btn-user btn-block" type="submit">
                            <i class="fa fa-sign-in"></i> Đăng nhập
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/site-admin.js"></script>
</body>
</html>