@model DentalManagement.ViewModels.Catalog.Customers.CustomerCreateRequest

@{
    ViewData["Title"] = "Tạo mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Thêm mới khách hàng</h1>
    </div>
    <form class="user" asp-action="Create" asp-controller="Customer" method="post">
        <div class="form-group row">
            <div class="col-sm-3 mb-3 mb-sm-0">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />


                <label asp-for="Gender" class="control-label"></label>
                <select class="form-control" asp-for="Gender">
                    <option selected value="4">Chọn giới tính</option>
                    <option value="0">Nam</option>
                    <option value="1">Nữ</option>
                </select>


                <label asp-for="BirthDay" class="control-label"></label>
                <input asp-for="BirthDay" class="form-control" type="date" />

            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />


                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />


                <label asp-for="IdentifyCard" class="control-label"></label>
                <input asp-for="IdentifyCard" class="form-control" />

            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />


                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" style="min-height: 108px;"></textarea>

            </div>
        </div>
        <span asp-validation-for="FullName" class="text-danger d-block"></span>
        <span asp-validation-for="Gender" class="text-danger d-block"></span>
        <span asp-validation-for="BirthDay" class="text-danger d-block"></span>
        <span asp-validation-for="PhoneNumber" class="text-danger d-block"></span>
        <span asp-validation-for="EmailAddress" class="text-danger d-block"></span>
        <span asp-validation-for="Address" class="text-danger d-block"></span>
        <span asp-validation-for="IdentifyCard" class="text-danger d-block"></span>
        <span asp-validation-for="Description" class="text-danger d-block"></span>
        <div class="form-group row">
            <div class="col-sm-3">
                @Html.ActionLink("Quay về", "Index", "Customer", "", new { @class = "btn btn-outline-dark" })
                <button type="submit" class="btn btn-primary">Hoàn tất</button>
            </div>
        </div>
    </form>
</div>
