@model DentalManagement.ViewModels.Catalog.Customers.CustomerViewModel

@{
    ViewData["Title"] = "Chi tiết khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Hồ sơ khách hàng: @Model.FullName</h1>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            @Html.ActionLink("Cập nhật thông tin cá nhân", "Edit", "Customer", new { id = Model.Id }, new { @class = "btn btn-danger" })
        </div>
        <div class="col-md-6 col-xs-12">
            <a type="button" class="btn btn-outline-primary" asp-action="Create" asp-controller="Invoice">
                <i class="fa fa-user-plus"></i>
                Tạo phiếu điều trị
            </a>
        </div>
    </div>
    <hr />
    <div class="tab">
        <button class="tablinks" onclick="openCustomerTab(event, 'customerInformation')" id="defaultOpen">Thông tin cá nhân</button>
        <button class="tablinks" onclick="openCustomerTab(event, 'customerMedicalBill')">Khám & Điều trị</button>
        <button class="tablinks" onclick="openCustomerTab(event, 'customerPaymentHistory')">Lịch sử giao dịch</button>
    </div>

    <div id="customerInformation" class="tabcontent">
        <div class="form-group row">
            <div class="col-sm-3 mb-3 mb-sm-0">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" readonly />


                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" readonly />


                <label asp-for="BirthDay" class="control-label"></label>
                <input asp-for="BirthDay" class="form-control" readonly />

            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" readonly />


                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" readonly />


                <label asp-for="IdentifyCard" class="control-label"></label>
                <input asp-for="IdentifyCard" class="form-control" readonly />

            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" readonly />


                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" style="min-height: 108px;" readonly></textarea>

            </div>
        </div>
    </div>

    <div id="customerMedicalBill" class="tabcontent">
        <div class="form-group row">
            <div class="col-sm-3 mb-3 mb-sm-0">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" readonly />


                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" readonly />


                <label asp-for="BirthDay" class="control-label"></label>
                <input asp-for="BirthDay" class="form-control" readonly />

            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" readonly />


                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" readonly />


                <label asp-for="IdentifyCard" class="control-label"></label>
                <input asp-for="IdentifyCard" class="form-control" readonly />

            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" readonly />


                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" style="min-height: 108px;" readonly></textarea>

            </div>
        </div>
    </div>

    <div id="customerPaymentHistory" class="tabcontent">
        <div class="form-group row">
            <div class="col-sm-3 mb-3 mb-sm-0">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" readonly />


                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" readonly />


                <label asp-for="BirthDay" class="control-label"></label>
                <input asp-for="BirthDay" class="form-control" readonly />

            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" readonly />


                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" readonly />


                <label asp-for="IdentifyCard" class="control-label"></label>
                <input asp-for="IdentifyCard" class="form-control" readonly />

            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" readonly />


                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" style="min-height: 108px;" readonly></textarea>

            </div>
        </div>
    </div>

</div>
