@using DentalManagement.ViewModels.Catalog.Invoices
@model DentalManagement.ViewModels.Catalog.Invoices.InvoiceCreateRequest

@{
    ViewData["Title"] = "Tạo mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Thêm mới hoá đơn</h1>
    </div>
    <form class="user" asp-action="Create" asp-controller="Invoice" method="post">
        <div class="form-group row">
            <div class="col-sm-3 mb-3 mb-sm-0">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>

                <input asp-for="CreatedBy" class="form-control" value="@User.Identity.Name" hidden />

                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" type="date" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>

            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                <label asp-for="TotalDiscountPercent" class="control-label"></label>
                <input asp-for="TotalDiscountPercent" class="form-control" />
                <span asp-validation-for="TotalDiscountPercent" class="text-danger"></span>

            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                <label asp-for="TotalDiscountAmount" class="control-label"></label>
                <input asp-for="TotalDiscountAmount" class="form-control" />
                <span asp-validation-for="TotalDiscountAmount" class="text-danger"></span>

                <label asp-for="TotalInvoiceAmount" class="control-label"></label>
                <input asp-for="TotalInvoiceAmount" class="form-control" />
                <span asp-validation-for="TotalInvoiceAmount" class="text-danger"></span>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th>% giảm giá</th>
                        <th>Số tiền giảm</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input asp-for="ProductId" class="form-control" /></td>
                        <td><input class="form-control" /></td>
                        <td><input class="form-control" /></td>
                        <td><input asp-for="Quantity" class="form-control" /></td>
                        <td><input asp-for="ItemDiscountPercent" class="form-control" /></td>
                        <td><input asp-for="ItemDiscountAmount" class="form-control" /></td>
                        <td><input asp-for="ItemAmount" class="form-control" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <button type="submit" class="btn btn-outline-dark" asp-action="Index" asp-controller="Invoice">Quay về</button>
                <button type="submit" class="btn btn-primary">Hoàn tất</button>
            </div>
        </div>
    </form>
</div>
